<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="{{ url_for('static', filename="bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">News</a>
                </div>
            </nav>
            {% block content %}{% endblock %}
            <script src="{{ url_for('static', filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}"></script>
        </div>
        <div id="footer">
            {% block footer %}
            &copy; Copyroght 2017 by <a href="http://hython.com">Hython</a>.
            {% endblock %}
        </div>
    </body>
</html>
